# compiled output
/dist
/node_modules

# logs
/logs
*.log
npm-debug.log*

# coverage
/coverage
/.nyc_output

# env
.env

# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
